<!-- Footer -->
<footer id="footer" class="bg-white border-top text-muted small">
  <img
    src="{{site.baseurl}}/assets/images/triangle.svg"
    alt="triangle"
    class="triangle"
  />
  <div class="illustration">
    <div class="jagged up" style="top: calc(100% - 5px)"></div>
  </div>
  <div class="footer-content container"></div>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="p-3">
        {% comment %} <span class="navbar-brand mr-2 mb-0"><strong>Mundana</strong></span> {% endcomment %}
        <span
          >© 2024 Viva Verde. All rights reserved. Content on this site is for
          informational purposes only and is not intended to substitute for
          professional advice. The views expressed on this blog are those of the
          authors and do not necessarily reflect the views of Viva Verde.
          Reproduction of content from this site without explicit permission is
          strictly prohibited. Links may lead to external sites; Viva Verde is
          not responsible for the content of external sites.
        </span>

        
      </div>
      
    </div>
  </div>
</footer>
